* {
  color: white;
  font-family: sans-serif;
}

body {
  background-color: black;
  margin: 50px 50px 50px 50px;
}

#logo {
  padding-bottom: 20px;
  display: block;
  margin: auto;

}

#info {
  padding: 50px 50px 50px 50px;
}
